*.pdf
Data/features_fbank_htk_dim120.zip
Data/features_labels_lld.zip
Data/features_labels_raw_wav.zip
Data/features_mfcc_csv_dim39.zip
Data/fbank/*
Data/features_labels_lld/*
Data/features_labels_raw_wav/*
Data/mfcc_csv/*
Data/Presentation.pdf
Data/The+INTERSPEECH+2009+Emotion+Challenge.pdf
